<div class="pokeHeader">
    <div class="pokeTitle">
        <button>
            <img src="./images/arrow_back.svg" alt="">
        </button>
        <p class="pokeDetailsName"></p>
        <p class="pokeDetailsId"></p>
    </div>
    <div class="pokeDetailsImage">
        <img src="" alt="">
    </div>
    <img class="pokeDetailsPokeBall" src="./images/Pokeball.png" alt="">
</div>
</div>
<div class="pokeDetailsCardInfo">
    <div class="pokeDetailsCardTypes"></div>
    <p class="about"><strong>About</strong></p>
    <div class="pokeDetailsCardAtributes">
        <div class="pokeDetailsCardAtributesGrid">
            <div class="pokeDetailsCardAtributesGridValue">
                <img src="./images/weight.svg" alt="">
                <p class="pokeDetailsCardWeightValue"></p>
            </div>
            <p class="pokeDetailsCardAtributeDescription">Weight</p>
        </div>
        <hr>
        <div class="pokeDetailsCardAtributesGrid">
            <div class="pokeDetailsCardAtributesGridValue">
                <img src="./images/height.svg" alt="">
                <p class="pokeDetailsCardHeightValue"></p>
            </div>
            <p class="pokeDetailsCardAtributeDescription">Height</p>
        </div>
        <!--<hr>
        <div class="pokeDetailsCardAtributesGrid">
            <div class="pokeDetailsCardAtributesGridValue">
                <div class="pokeDetailsCardMovesValue"></div>
            </div>
            <p class="pokeDetailsCardAtributeDescription">Moves</p>
        </div>-->
    </div>
    <p class="pokeDetailsCardDescription"></p>
    <p class="stats"><strong>Base Stats</strong></p>
    <div class="pokeDetailsCardStats">
        <div class="pokeDetailsCardStatsLabels"></div>
        <hr>
        <div class="pokeDetailsCardStatsValues"></div>
    </div>
</div>