
:root {
    --textColor: #FFFFFF;
    --responsibleFontSize: 14px;
    --responsibleImageSize: 120px;
    --responsibleDetailsCardWidth: 250px;
}

.pokeDetails {
    min-width: 300px;
    min-height: 400px;
    margin: 0px;
    padding: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pokeDetailsPokeBall {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
    height: 170px;
    width: 170px;
  }  

  .pokeTitle {
    display: flex;
    margin: 0px;
    gap: 8px;
    height: 32px;
    color: var(--textColor);
    align-items: center;
    text-transform: capitalize;
    font-size: 26px;
  }

  .pokeDetailsName {
    flex: 1;
    margin: 0px;
  }

  .pokeDetailsId {
    margin: 0px;
  }

  .pokeDetails button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: Transparent;
    border: none;
  }

  .pokeDetailsImage {
    display: flex;
    justify-content: center;
  }

  .pokeDetailsImage img {
    min-width: 150px;
    min-height: 150px;
    max-width: 250px;
    max-height: 223.8px;
    display: flex;
  }

  .pokeDetailsCardInfo
  {
    min-height: 300px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    background-color: var(--textColor);
    border-radius: 8px;
    padding: 15px;
  }

  .pokeDetailsCardInfo p {
    text-align: center;
  }

  .about {
    margin: 0px;
  }

  .stats {
    margin: 0px;
  }

  .pokeDetailsCardTypes {
    display: flex;
    justify-content: center;
    gap: 16px;
    text-transform: capitalize;
  }

  .pokeDetailsCardTypes p {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    color: var(--textColor);
  }

  .about {
    display: flex;
    justify-content: center;
  }

  .pokeDetailsCardAtributes {
    display: flex;
  }

  .pokeDetailsCardAtributes hr {
    margin-bottom : 0px;
  }

  .pokeDetailsCardAtributesGrid
  {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .pokeDetailsCardAtributesGridValue
  {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .pokeDetailsCardAtributeDescription {
    margin-bottom: 0px;
    text-align: center;
  }

  .pokeDetailsCardMovesValue 
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pokeDetailsCardMovesValue p 
  {
    margin: 0px;
  }

  .pokeDetailsCardDescription {
    max-width: 260px;
    margin: 0px;
  }

  .pokeDetailsCardStats 
  {
    display: flex;
    gap: 8px;
  }

  .pokeDetailsCardStats  p 
  {
    margin: 0px;
    text-transform: capitalize;
    font-size: 16px;
  }

  .pokeDetailsCardStats hr {
    margin: 0px;
  }

  .pokeDetailsCardStatsValues 
  {
    flex: 1;
  }

  .pokeDetailsCardStatsRows 
  {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .pokeDetailsCardStatsRows div
  {
    height: 8px;
  }

  .statGraficBar {
    border-radius: 10px;
    overflow: hidden;
  }

  @media screen and (max-width: 700px) {

    .pokeDetails {
      min-width: var(--responsibleDetailsCardWidth);
      max-width: var(--responsibleDetailsCardWidth);
    }

    .pokeHeader {
      display: flex;
      flex-direction: column;
    }

    .pokeTitle button {
      max-height: 20px;
    }

    .pokeTitle button img {
      max-height: 19px;
    }

    .pokeDetailsName {
      font-size: 20px;
    }

    .pokeDetailsId {
      font-size: 20px;
    }

    .pokeDetailsPokeBall {
      max-width: var(--responsibleImageSize);
      max-height: var(--responsibleImageSize);
    }

    .pokeDetailsImage {
      min-width: var(--responsibleImageSize);
      min-height: var(--responsibleImageSize);
      max-width: var(--responsibleImageSize);
      max-height: var(--responsibleImageSize);
      align-self: center;
    }

    .pokeDetailsImage img {
      min-width: var(--responsibleImageSize);
      min-height: var(--responsibleImageSize);
      max-width: var(--responsibleImageSize);
      max-height: var(--responsibleImageSize);
    }

    .pokeDetailsCardInfo {
      gap: 6px;
      padding: 7.5px;
    }

    .pokeDetailsCardTypes p {
      margin: 8px 0px;
      font-size: var(--responsibleFontSize);
    }

    .about {
      font-size: var(--responsibleFontSize);
    }

    .stats {
      font-size: var(--responsibleFontSize);
    }

    .pokeDetailsCardAtributesGrid p {
      font-size: var(--responsibleFontSize);
    }

    .pokeDetailsCardDescription {
      font-size: var(--responsibleFontSize);
    }

    .pokeDetailsCardStatsLabels p {
      font-size: var(--responsibleFontSize);
    }

    .pokeDetailsCardStatsRows p {
      font-size: var(--responsibleFontSize);
    }

    .pokeDetailsCardStatsRows div
    {
      height: 6px;
    }  
  }