@import url("./Components/PokeCard/style.css");
@import url("./Progress/style.css");

:root {
    --bodyColor: #DC0A2D;
    --headerFont: #FFFFFF;
    --SearchButtonHover: #B8B8B8;
    --pageSelectorBorderColor: #ccc;
    --pokeListBody: #FFFFFF;
    --pokeCardColorBody:#EFEFEF;
    --pokeCardShadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

body {
    background-color: var(--bodyColor);
    margin-left: 20px;
    margin-right: 20px;
}

#pokeHeader {
    display: flex;
    flex-direction: column;
    min-height: 150px;
    justify-content: center;
    align-items: center;
    padding: 12px 12px 24px; /* Combine top/left/right padding */
    gap: 15px;
    margin: 0px;
  }

#pokeTitle {
    height: 56px;
    display: flex;
    gap: 16px;
    color: var(--headerFont);
    align-items: center;
    justify-content: center;
}

#pokeTitle img {
    height: 56px;
}

#pokeTitle p {
    font-size : 56px;
}

#search {
    display: flex;
    justify-content: center;
    max-width: 900px;
    width: 100%;
    gap: 16px;
}

#search input {
    flex: 1;
    background-color: var(--headerFont);
    padding-left: 25px;
    background-image: url(./images/search.svg);
    background-repeat: no-repeat;
    background-position: calc(5px) center;
    border-radius: 25px;
    border: none;
}

#search button {
    background-color: var(--headerFont);
    border-radius: 50%;
    border: none;
    padding: 8px 8px;
}

#search button:hover {
    background-color: var(--SearchButtonHover);
}

#pageContainer {
    display: flex;
    flex: 1;
    justify-content: right;
}

#page {
    /* Styles for the select element */
    border: 1px solid var(--pageSelectorBorderColor); /* Add a border */
    padding: 5px; /* Add padding */
    border-radius: 4px; /* Add rounded corners */
    font-size: 16px; /* Set font size */
    margin-right: 5px;
    margin-bottom: 5px;
}

@media screen and ((max-width: 700px) or (max-height: 400px)) {
    
    #page {
        font-size: 12px;
    }
}