/* Pokemon List */

@import url("./PokeDetails/style.css");

:root {
    --responsibleCardSize: 120px;
}

li {
    list-style-type: none;
}

#pokeList {
    background-color: var(--pokeListBody);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between left;
    align-items: flex-end;
    gap: 13px;
    padding: 12px 12px 24px;
    border-radius: 8px;
  }  

.pokeCard {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: var(--pokeCardShadow);
    max-width: 250px;
    max-height: 223.8px;
}

.pokeId {
    margin : 0px;
    text-align: right;
    margin-right: 5px;
    margin-top: 5px;
}

.pokeCard img {
    min-width: 150px;
    min-height: 150px;
}

.pokeName {
    margin: 0;
    text-align: center;
    background-color: var(--pokeCardColorBody);
    text-transform: capitalize;
    border-radius: 10px 10px 0 0;
    padding: 4px;
    font-size: 20px;
  }
  

@media screen and (max-width: 700px)
{
    #pokeList {
        justify-content: space-between;
    }

    .pokeCard {
        max-width: var(--responsibleCardSize);
    }

    .pokeCard img {
        max-width: var(--responsibleCardSize);
        min-width: var(--responsibleCardSize);
        min-height: var(--responsibleCardSize);
    }

    .pokeName {
        font-size: 16px;
    }
}